/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 *{
   font-family: 'Song Myung', serif;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    bottom: 10%;
  }
  .second{
    font-size: 30px;
  } 
  .info li:nth-child(1){
  color:#b47548;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    bottom: 0;
  }
  .second{
    font-size: 15px;
  }
  .info li:nth-child(1){
    color:#b47548;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
h1{
  text-shadow: 3px 3px 3px darkgray;
}
.heading{
  color: #ed9682;
  background: #ffffff73;
  border-radius: 20px;
}
.charm{
  font-family: 'Charm', cursive;
  font-weight: bolder;
}
.btn-large{
  background-color: #8a7a7ab8;
  border-radius: 25px;
}
.btn-large:hover{
  background-color: #8a7a7ab8;
}